@font-face {
    font-family: "pixelFont";
    src: url("./fonts/slkscr.ttf");
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    font-family: "pixelFont";
}

/* Home Page */
nav {
    padding: 1em;
    position: absolute;
    top: 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
}

nav ul li a.active {
    color: #d23bbb;
    font-weight: bold;
}

nav ul li a:hover {
    color: #d23bbb;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 800px;
    padding: 1em;
}

.home img {
    text-align: center;
    width: 200px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.home h1 {
    color: #ec45d3;
    font-size: 60px;
    margin-bottom: 5px;
}

@keyframes moveLeftRight {
    0% { transform: translateY(0); }
    50% { transform: translateY(10px); }
    100% { transform: translateY(0); }
}

@keyframes moveRightLeft {
    0% { transform: translateX(0); }
    50% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
}

.cloud1 img {
    animation: moveLeftRight 2s infinite; 
}

.cloud2 img {
    animation: moveRightLeft 2s infinite;
}


.cloud1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: auto;
    
}

.cloud2 img {
    position: absolute;
    bottom: 4;
    right: 0;
    width: 30%;
    height: auto;
}

.homebio {
    font-size: 20px;
    color: white;
    margin-top: 20px;
    max-width: 600px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-family: "pixelFont";
    font-size: 1em;
    background-color: #8b8d8c;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #d23bbb;
}

/* Projects Page */
.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
}

.project {
    text-align: center;
    width: 100%;
}

.project img {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
}

.projbio {
    font-size: 1em;
    text-align: center;
    color: #f5f0f0;
    max-width: 600px;
    word-wrap: break-word;
}

/* About Me Page */

.tech-container {
    display: grid;
    grid-template-columns: 2fr 1fr; 
    gap: 20px; 
    width: 80%;
    max-width: 1200px;
    margin-top: 350px; 
    padding: 10px; 
}

.tech-container img{
    float: left;
}
.techbio {
    color: white;
}

.resume {
    display: none;
}
.clickable-image {
    float: right;
    margin-top: 200px;
    width: 500px; 
    height: auto; 
    cursor: pointer; 
    transition: opacity 0.3s; 
}

.clickable-image:hover {
    opacity: 0.8; 
}

.techbio h1 {
    color: white;
    font-size: 2em;
}

.techbio p {
    font-size: 12px;
    line-height: 1.6;
}

/* Service Page */
.service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 90px;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
}

.service {
    text-align: center;
    width: 30%;
}

.service img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.servbio {
    font-size: 1em;
    color: white;
}

/* AI Page */
.contact-container {
    
    padding: 2em;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
}

h1 {
    margin-top: 0;
    color: white;
    font-size: 2em;
}

.contact-info {
    margin: 1em 0;
}

.contact-info a {
    color: white; 
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;
    transition: color 0.3s ease;
}

.contact-info a:hover {
    color: white; 
}

.contact-info a img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.style1prompt-box{
    display: none;
}
.style2prompt-box {
    margin-top: 2em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #e7e7e7;
    font-style: italic;
    color: #555;
}
